@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><a href='/Brewery'>Notable Michigan Pizzerias</a></h1>
    @*<p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-6">
        <h2>An archive for the hungry connoisseur.</h2>
        <p>
            A web archive of notable establishments who are known to pack megalithic taste into their popular pizzas.
        </p>
        @*<p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>*@
    </div>
    <div class="col-md-6">
        <h2>How to Get Started</h2>
        <p>
            To view a list of brew pubs, click the button below.
        </p>
        <button type="button" onclick="location.href='@Url.Action("Index", "Brewery")'" class="btn">Pizzeria List</button>
    </div>
</div>